@page
@model azure_app_learning.Pages.DeploymentModel
@{
	ViewData["Title"] = "deployment slots page";
}

<div class="text-center">
    <h1 class="display-4">
        testing deployment slots
        @* Welcome To Azure For .NET Developers *@
    </h1>
    <h3>
        validaitng the deployment slots
        @* We are here to learn about the different Microsoft Azure features and .NET core Development. *@
    </h3>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>